@import url('https://fonts.googleapis.com/css?family=Hepta+Slab|Montserrat|Poppins|Raleway|Roboto|Roboto+Condensed|Ubuntu&display=swap');

* {
	/* outline: 1px solid red; */
}

body {
	margin: 0;
	padding: 0;
	background-color: #1d82e7;
	color: white;
	/* font-family: Noto Sans, sans-serif; */
	/* font-family: 'Roboto', sans-serif; */
	/* font-family: 'Roboto Condensed', sans-serif; */
	/* font-family: 'Ubuntu', sans-serif; */
	font-family: 'Montserrat', sans-serif;
}

body, div, h1, p {
	margin: 0;
	padding: 0;
}

a, a:visited {
	color: #0000dd;
	text-decoration: none;
}

.site {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

/* ----------Home---------- */
.welcome {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
	margin-top: 2vh;
	height: max-content;
	text-align: center;
	font-size: 180%;
}

.welcome-message {
	display: block;
	margin-top: 0.67em;
	margin-right: 0;
	margin-bottom: 0.67em;
	margin-left: 0;
	color: white !important;
	font-weight: bold;
	font-size: 2em;
}

.accountButtons {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 auto;
	width: 50%;
	height: 32vh;
}

.accountButtons > a {
	display: block;
	padding: 0.5vw;
	/* height: 30%; */
	width: 20%;
	outline: none;
	border: none;
	border-radius: 6px;
	background-color: white;
	box-shadow: 0 3px 3px 0 #00000066;
	color: black;
	text-align: center;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	transition: 200ms ease-out;
}

.accountButtons > a:hover {
	background-color: black;
	box-shadow: 0 3px 5px 1px #000000bb;
	color: white;
}

.about {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 60%;
	height: 50vh;
	text-align: center;
	font-size: 120%;
}

.about-item {
	display: flex;
	flex-direction: column;
}

/* ----------Login, Register---------- */
.loginbox {
	display: flex;
	flex-direction: column;
	/* background-color: white; */
	margin: 0 auto;
	margin-top: 8%;
	width: 30%;
}

.loginbox > form {
	display: flex;
	flex-direction: column;
}

form > input {
	margin: 6px 0;
}

#username, #password {
	padding: 6px;
	border: 1px solid grey;
	border-radius: 6px;
	box-shadow: 0 3px 3px 0 #00000066;
	color: black;
	font-size: 19px;
}

#submit {
	display: block;
	margin: 26px auto;
	padding: 0.5vw;
	width: max-content;
	outline: none;
	border: none;
	border-radius: 6px;
	background-color: white;
	box-shadow: 0 3px 3px 0 #00000066;
	color: black;
	text-align: center;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	transition: 200ms ease-out;
}

#submit:hover {
	background-color: black;
	box-shadow: 0 3px 5px 1px #000000bb;
	color: white;
}
